/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */
/* Succes met peer reviewen! */

/* Opdracht 2.1 */
.one {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/* Opdracht 2.2 */
.two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Opdracht 2.3 */
.three {
    /* background-color: #587B7F; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    /* background-color: #E2C044; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    flex-basis: 250px;
}

/* Opdracht 2.4 */
.four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: base-line;
}

/* Opdracht 2.5 */
.five {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    flex: 3 0 360px;
}